table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr {
    background-color: #eeeeee;
}

.header {
    background-color: #fff;
}

.inputSearch {
    float: inline-end;
    margin: 10px 0 10px 0;
    padding: 8px;
}